/* Will be compiled down to a single stylesheet with your sass files */

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header .title:before {
  content: ' ';
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-image: url('../images/icon2-128.png');
  background-size:cover;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 500px;
  height: 100%;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

.header {
  text-align: center;
  overflow: hidden;
}

.options .option {
  margin-bottom: 20px;
}

.options .option label {
  display: block;
  margin-bottom: 5px;
}

.options .option input {
  width: 100%;
  display: block;
}

.buttons {
  text-align: center;
}

.buttons button {
  display: inline-block;
}

.weak {
  font-weight: thin;
  font-size: 0.8em;
}
